@import "./mixin";
nav {

  position: fixed;
  width: 100%;
  top: 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $nav-bg-color-hover;
    @include border-radius(0px);

    li {
      float: left;
      display: block;
      min-width: 150px;

      li {
        float: none;
        display: none;
      }

      a:hover {
        background-color: $nav-bg-color;
      }

      ul {
        position: absolute;
        @include border-radius(0px);
      }

      &:hover {
        li {
          display: block;
        }
      }
    }

    a {
      display: block;
      color: white;
      text-align: center;
      text-decoration: none;
      padding: 15px;

      &:hover {
        background-color: $nav-bg-color;
      }
    }
  }
}
