%center {
  margin: 0 auto;
  display: block;
}

%text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%box-size {
  float: left;
  width: ((100%- (2 * 5)))/2;
  height: 100px;
  border: solid 1px #ccc;
  background-color: #ececec;
  padding: 10px;
  text-align: center;
  margin-right: 2%;
  margin-bottom: 10px;
  box-sizing: border-box;
}
