%center {
  margin: 0 auto;
  display: block;
}

%text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%box-size {
  float: left;
  height: 100px;
  border: solid 1px #ccc;
  background-color: #ececec;
  text-align: center;

  @media (max-width: 639px){
    @include number-columns(1, 5%);
  }

  @media (min-width: 640px){
    @include number-columns(2, 4%);
  }

  @media (min-width: 960px) and (max-width: 1200px){
    @include number-columns(3, 2%);
  }

  @media (min-width: 1201px){
    @include number-columns(4, 1%);
  }


  box-sizing: border-box;
}
