%center {
  text-align: center;
  margin: 0 auto;
  display: block;
}

%text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%box-size {
  float: left;
  height: 150px;
  text-align: center;

  @media (max-width: 639px){
    height: 50px;
    @include number-columns(4, 0%);
  }

  @media (min-width: 640px){
    @include number-columns(4, 1%);
  }

  @media (min-width: 960px) and (max-width: 1200px){
    @include number-columns(4, 2%);
  }

  @media (min-width: 1201px){
    @include number-columns(4, 3%);
  }


  box-sizing: border-box;
}
