$header-size: 28px;
$header-height: 150px;

$color-yellow: yellow;
$color-red: red;

$header-color: $color-yellow;
$link-color: white;


//NAV
$link-navigation-color-default: green;
$link-navigation-color-hover:white;
$link-navigation-bg-color-hover: rgb(3, 83, 23);