@import "./variables";
@import "./nav.scss";
@import "./mixin";
@import "./placeholders";
body {
  margin: 0px;
}

p {
  display: block;
  @extend %center;
}

.container {
  margin: 60px 10px 0px 10px;
  border: solid 3px blue;
  overflow: hidden;
  height: 2000px;
  display: block;
  padding: 5px;

}

.column {
  @extend %box-size;
}


#gallery-section {
  clear: left;
  overflow: hidden;
  background: red;
  height: 100vh;
  text-align: center;
  font-size: 12px;

}
#gallery-section:before {
  height: 50px;
  display: block;
  content: "";
}
